# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyc

# Virtual environment
env/
venv/
ENV/
*.env

# Django specific
db.sqlite3
media/
staticfiles/

# VSCode / PyCharm / Editors
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
